body{
  font-family: sans-serif;
}

nav{
autine: 1px solid red;
width: 200px;
}

ul{
  /*outline: 1px solid yellow;*/
  list-style: none;
  margin:0;
  padding:0;
  line-height: 30px;
}

li{
  /*outline: 1px solid red;*/
  background: #f5f5f0;
}
/*estados de los enlaces:Love/hate link visited active */
a{
/*  outline: 1px solid green;*/
  display:block;
  text-decoration: none;
  color:#000;
  padding-left: 10px;
}

a:hover{
  background: #f9a91a;
}

a:active{
  background: #333;
}

ul li:first-child{
  background: #f9a91a;
}

ul li:first-child a{
  color:#fff;
}
ul li:first-child a:hover{
color:#000;
}
ul li:first-child a:active{
color:#fff;
}
